
body{
font-family: Arial, sans-serif;
background:#0f172a;
color:white;
text-align:center;
padding:20px;
}

select,button{
padding:10px;
margin:10px;
border-radius:8px;
border:none;
}

#content{
margin-top:20px;
line-height:2;
}
